{% extends "poll/template.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'poll/vote.css' %}">
{% endblock %}

{% block title %}Vote Page{% endblock %}

{% block head %}
Voting Page
{% endblock %}

{% block content %}
<div class="poll-container">
    <h1>Vote for Your Favorite Artist</h1>
    <form method="post">
        {% csrf_token %}
        <ul id="artist-list" class="grid-container">
            {% for artist in artists %}
                <li class="artist-item">
                    <label>
                        <input type="radio" name="artist_id" value="{{ artist.id }}" required>
                        {{ artist.name }}
                    </label>
                </li>
            {% endfor %}
        </ul>
        <button type="submit">Vote</button>
    </form>

    {% if has_voted %}
        <p>Thank you for voting!</p>
    {% endif %}
</div>
{% endblock %}
